.Header {
  background-color: black;
  height: 15px;
  padding: 20px;
}

.MenuBar {
  text-align: right;
}

.MenuBar a {
  margin-right: 3%;
  color: skyblue;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
}
